<div class="cont"><div>
  <div class="subject">
    <div class="subjectList">
      <p style="text-align-last: center;color: white">Email List</p>
    </div>
    <div>
      <mat-card class="searchBar" fxLayoutAlign="row">
        <mat-icon matPrefix >search</mat-icon>
        <input matInput type="text" placeholder="Search your mail..." aria-label="Search" >
      </mat-card>
    </div>
    <hr>
    <div style="overflow-y: scroll;
    width: 511px;
    height: 497px;
    margin-top: -8px">
      <div *ngFor="let message of subject; let i = index">
        <mat-card class="matcardsubject" style="
       cursor: pointer;
"
           (click)="selectMessage(i)">
          <div class="input-price-span">{{message}}</div>
        </mat-card>
        <hr>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="subjectList">
      <p style="text-align-last: center; color: white">Message Body</p>
    </div>
    <div *ngIf="selectedMessage.text !== undefined" class="subjectList1">
      <p style="margin-left: 10px;
       font-family: 'Lato Black',serif;
">From : {{selectedMessage.sender}}</p>
      <hr>
      <p style="margin-left: 10px;
       font-family: 'Lato',serif;
">Time : {{selectedMessage.time}}</p>
      <hr>
      <p style="margin-left: 10px;
       font-family: 'Lato',serif;
">Subject : {{selectedMessage.subject}}</p>
      <hr>
    </div>
    <div style="    overflow-y: scroll;
    width: 100%;
    height: 455px;
    margin-top: -7px;
}">
      <p style="margin-left: 10px;
       font-family: 'Lato';
">
        {{selectedMessage.text}}
      </p>
    </div>
  </div>
</div>
</div>
